.js-irs-0 .irs-single, 
.js-irs-0 .irs-bar-edge, 
.js-irs-0 .irs-bar {background: #66C2A5} 
.js-irs-0 .irs-min {color: #66C2A5; 
                    font-size: 11px}
.js-irs-0 .irs-max {color: #66C2A5; 
                    font-size: 11px}
                    
.js-irs-1 .irs-single, 
.js-irs-1 .irs-bar-edge, 
.js-irs-1 .irs-bar {background: #66C2A5} 
.js-irs-1 .irs-min {color: #66C2A5; 
                    font-size: 11px}
.js-irs-1 .irs-max {color: #66C2A5; 
                    font-size: 11px}
                    
.js-irs-2 .irs-single, 
.js-irs-2 .irs-bar-edge, 
.js-irs-2 .irs-bar {background: #8DA0CB} 
.js-irs-2 .irs-min {color: #8DA0CB; 
                    font-size: 11px}
.js-irs-2 .irs-max {color: #8DA0CB; 
                    font-size: 11px}
                    
.js-irs-3 .irs-single, 
.js-irs-3 .irs-bar-edge, 
.js-irs-3 .irs-bar {background: #8DA0CB} 
.js-irs-3 .irs-min {color: #8DA0CB; 
                    font-size: 11px}
.js-irs-3 .irs-max {color: #8DA0CB; 
                    font-size: 11px}
                    

